body{
    background-color: #3d5a6e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: lightgray;
}
.forms-container
{
    width: 50%;
    /* border: solid 1px red; */
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
}
#sum{
    border-radius: 5%;
    margin-left: 40%;
}
#sum:hover{
    color:black;
    background-color: white;
}
.wrapper{
    margin-top: 10%;
}
#tablecon{
    padding-top: 5%;
}
#studentForm{
    padding-top: 5%;
}
#List{
    color: lightgray;
}
