body{
    background-color: rgb(215, 228, 225);
}
.forms-container
{
    width: 50%;
    /* border: solid 1px red; */
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
}
.btns{
    color:White;
    border:solid 1px black;
    background-color: #3333ff;
    border-radius: 12%;
    margin-left: 40%;
}
